<div class="page-header">
  <h1>Products</h1>

  <%= link_to "New product", new_admin_product_path, class: "btn btn-primary" %>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Description</th>
      <th>Price</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td>
          <% if product.image.attached? %>
            <%= image_tag product.image, size: "50x50" %>
          <% end %>
        </td>

        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= number_to_currency(product.price) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
