<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Gerenciador De Restaurante" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Gerenciador De Restaurante">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    >

    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-gray-100">
    <main class="flex min-h-screen">

      <!-- SIDEBAR -->
      <aside class="w-64 bg-gray-600 sticky top-0 h-screen p-4">

        <!-- Logo -->
        <div class="flex flex-col items-center text-center my-6">
          <%= image_tag "logo.png", class: "w-40 mb-2" %>
          <h1 class="text-md text-gray-50 font-bold hidden md:block">
            Big King Burgers
          </h1>
        </div>

        <!-- Menu -->
        <ul class="flex flex-col text-gray-50 space-y-1">
          <li>
            <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
              <%= icon('fa-solid', 'gauge-high') %>
              <span class="hidden md:inline-block">Dashboard</span>
            <% end %>
          </li>

          <li>
            <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
              <%= icon('fa-solid', 'cart-shopping') %>
              <span class="hidden md:inline-block">Products</span>
            <% end %>
          </li>

          <li>
            <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
              <%= icon('fa-solid', 'list') %>
              <span class="hidden md:inline-block">Categories</span>
            <% end %>
          </li>

          <li>
            <%= link_to admin_categories_path, class: "block px-4 py-2 hover:rounded hover:bg-gray-700" do %>
              <%= icon('fa-solid', 'truck-fast') %>
              <span class="hidden md:inline-block">Orders</span>
            <% end %>
          </li>
        </ul>

      </aside>

      <!-- CONTEÚDO -->
      <div class="w-full p-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>